.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li {
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
}

@media (min-width: 768px) {
  .container__menu-bar > ul {
    flex-direction: row;
  }

  .container__menu-bar > ul > li {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
